<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/media_main.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <script src="./js/include_html.js"></script>
    <script src="./js/script.js"></script>
    <title>Document</title>
</head>

<body onload="init()">
    <header w3-include-html="./assets/templates/header.html"></header>
    <nav w3-include-html="./assets/templates/navbar.html"></nav>
    <div class="content-container">

    </div>
</body>

</html>