<span id="header-tooltype">Kanban Project Management Tool</span>
<img id="logo-header-mobile" src="./assets/img/Logo_Start.png" alt="">
<div id="header-nav">
    <a href="./help.html"><img src="./assets/img/symb_help.png" alt="help"></a>
    <img id="header-img-user" src="./assets/img/img_user1.png" onclick="toggleContextMenu()" alt="">
    <div id="contextMenu" class="sub-nav d-none">
        <span id="sub-nav--help">Help</span>
        <span id="sub-nav--legal">Legal notice</span>
        <span onclick="logout()">Log out</span>
    </div>
</div>