<span id="header-tooltype">Kanban Project Management Tool</span>
<img onclick="location.href='summary.html'" id="logo-header-mobile" src="./assets/img/Logo_Start.png" alt="">
<div id="header-nav">
    <a id="menu-help" href="./help.html"><img src="./assets/img/symb_help.png" alt="help"></a>
    <div id="header-user" onclick="toggleContextMenu('context-menu-header')">
        <img id="header-img-user" class="d-none" src="./assets/img/user_guest.png" alt="">
        <span id="header-badge-user" class="d-none" style="background-color: hsl(0, 0%, 100%)">AB</span>
    </div>
    <div id="context-menu-header" class="context context-main context-header d-none">
        <a href="./help.html" class="context-header--item">Help</a>
        <a href="./legal.html" class="context-header--item">Legal notice</a>
        <span onclick="logout()">Log out</span>
    </div>
</div>