<img onclick="location.href='summary.html'" id="logo-nav" src="./assets/img/logo_nav.png" alt="logo">
<div id="menu">
    <a href="./summary.html" id="menu-summary" class="nav-item">
        <div class="nav-icon">
            <img src="./assets/img/symb_summary.png" alt="">
        </div>
        <div>Summary</div>
    </a>
    <a href="./board.html" id="menu-board" class="nav-item">
        <div class="nav-icon">
            <img src="./assets/img/symb_board.png" alt="">
        </div>
        <div>Board</div>
    </a>
    <a href="./add_task.html" id="menu-add_task" class="nav-item">
        <div class="nav-icon">
            <img src="./assets/img/symb_add-task.png" alt="">
        </div>
        <div>Add Task</div>
    </a>
    <a href="./contacts.html" id="menu-contacts" class="nav-item">
        <div class="nav-icon">
            <img src="./assets/img/symb_contacts.png" alt="">
        </div>
        <div>Contacts</div>
    </a>
</div>
<a href="./legal.html" id="menu-legal" class="nav-item">
    <img src="./assets/img/symb_info.png" alt="">
    <span>Legal notice</span>
</a>