.add-task-content {
    color: #000000;
    width: 100%;
    margin: auto;
    padding: 20px;
    max-width: 1100px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 422px;
}

p {
    font-size: 21px;
    margin: 0 0 8px 0 ;
}

.required {
    position: relative;
    font-size: 12px;
    line-height: 120%;
    margin: 0;
    padding-top: 8px;
    color: rgb(255, 58, 58);
}

.title-input {
    padding-left: 21px;
    padding-top: 8px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.description-area {
    font-family: 'Inter', sans-serif;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    min-height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
}

.category-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}

.assigned-to-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
}

.assigned-to-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}

.middle-container {
    width: 0px;
    border: 1px solid #D1D1D1;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 422px;
    padding: 0px;
    gap: 14px;

}

.due-date {
    position: relative;
    display: flex;
    align-items: center;
}

.due-date-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    color: #D1D1D1;
    cursor: pointer;
    color-scheme: dark;
}

.due-date-btn {
    position: absolute;
    left: 381px;
    cursor: pointer;
}

.prio-container {
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 113px;

}

.prio-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 134px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 21px;
    cursor: pointer;
}

.btn img {
    width: 20px;
    object-fit: contain;
}

.subtask-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
}

.subtasks-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.subtask-btn {
    position: absolute;
    padding: 0px;
    gap: 9px;
    width: 24px;
    height: 24px;
    left: 381px;
    cursor: pointer;
}

.subtask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.subtasks-input input {
    width: 178px;
    height: 25px;
    border: 0px solid;
    z-index: 0;
    padding-top: 7px;
}

::placeholder {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

select {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.content-containers {
    display: flex;
    justify-content: space-evenly;
}

.submit-btns {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    gap: 25px;
    padding-top: 48px;
}

.clear-btn {
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    font-size: 21px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.create-btn {
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
}

/* Help Classes */

.hidden{
    visibility: hidden;
}