button {
    border: unset;
    font-size: unset;
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-size: 21px;
}

#modal-task,
#modal-add-task,
#modal-contact {
    opacity: 0;
    transition: opacity 350ms ease-out;
}

.modal-show {
    opacity: 1 !important;
}

.modal-wrapper {
    position: relative;
    border-radius: var(--border-radius-main);
    background-color: white;
    overflow: hidden;
}

.modal-taskview-wrapper {
    width: 625px;
    max-width: 625px;
}

.modal-addtask-wrapper {
    width: 75%;
    height: 95%;
}

.modal-task-content {
    height: 95vh;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    overflow-y: auto;
}

.reader {
    padding: 50px 50px 0;
}

.editor {
    padding: 50px 100px 0;
}

#btn-edit-task {
    background-color: var(--bg-color-main);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
}

.edit-btn:hover {
    background: #29ABE2 !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.modal-btns {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-btns button {
    height: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: 100ms ease-in-out;
    justify-content: center;
}

.modal-btns img {
    width: 40px;
    height: 35px;
}

.delete-btn {
    background-color: white !important;
    border: 2px solid #2A3647;
    cursor: pointer;
    font-family: 'Inter';
    color: #2A3647;
}

.delete-btn img {
    transition: 100ms ease-in-out;

}

.delete-btn:hover img {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.delete-btn:hover {
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-task-close {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 25px;
    cursor: pointer;
    z-index: 1;
}

#modal-task-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 8px;
    padding: 4px 37px 4px 37px;
    color: white;
    font-size: 27px;
}

#modal-task-title {
    font-size: 61px;
    font-weight: 700;
}

#modal-task-subtasks {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}

.modal-task-subtask {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 8px 0;
}

.modal-task-subtask img {
    width: 16px;
}

.modal-task-subtask span {
    font-size: 16px;
}

.subtask-list {
    height: unset !important;
}

.modal-task-metadata {
    display: flex;
    align-items: center;
    gap: 25px
}

.modal-task-item-title {
    font-weight: 700;
}

#modal-task-prio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: orange;
    padding: 4px 18px;
    border-radius: var(--border-radius-btn);
}

#modal-task-prio-img {
    width: 17px;
}

#modal-task-assignees {
    display: flex;
    flex-direction: column;
    gap: inherit;
    margin-bottom: 30px;
    margin-right: 70px;
}

.modal-task-assignees-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.modal-task-assignee {
    width: 45px;
    min-width: 45px;
    height: 45px;
    font-size: 16px;
    border: none;
    margin: unset;
}

#modal-task-edit form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#btn-task-edit-ok {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 18px 10px;
    gap: 10px;
    font-weight: 700;
    color: white;
    background-color: var(--bg-color-main);
    border-radius: var(--border-radius-btn);
    transition: 100ms ease-in-out;
    cursor: pointer;
}

#btn-task-edit-ok:hover {
    background: #29ABE2 !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

#btn-task-edit-ok img {
    width: 20px;
}

.modal-add-task-content {
    height: 95vh;
    max-height: 95vh;
    overflow-y: auto;
    padding-right: 20px;
}

.delete-popup {
    display: flex;
    flex-direction: column;
    gap: 5px !important;
}

.delete-popup span{
    margin: 10px;
}

.delete-popup span:hover {
    cursor: pointer;
    color: #29ABE2;
}