.flex-contacts-page {
    display: flex;
    font-size: 21px;
}

.contacts-menu {
    position: relative;
    background-color: white;
    width: 453px;
    min-width: 350px;
    height: calc(100vh - 90px);
}

#contacts-menu-scrollable {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    margin: 10px 48px 0 48px;
    display: flex;
    flex-direction: column;
}

.contacts-container {
    margin: 82px 58px 0 58px;
}

/* .contacts-selected {
    background-color: var(--bg-color-main);
    color: white;
} */

.contacts-headline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 70px;
    gap: 30px;
}

.contacts-subheadline {
    font-size: 27px;
}

.contact-page-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 193px;
    height: 53px;
    padding: 18px 10px;
    right: 52px;
    bottom: 67px;
    background-color: var(--bg-color-main);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 21px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.contact-button-logo {
    height: 30px;
    width: 33px;
}

.contact-div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 79px;
    padding: 10px 20px;
    border-radius: 9px;
    gap: 30px;
    cursor: pointer;
    user-select: none;
}

#contact-div {
    opacity: 1;
    position: relative;
}

.animationContact {
    animation: moveToLeft 225ms ease-in-out;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(2400px);
    }

    100% {
        transform: translateX(200px);
    }
}

.contact-div:not(.nohover):hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.activeContact {
    background-color: var(--bg-color-main);
    color: white;
}

.username-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-size: 12px;
    color: white;
    flex-shrink: 0
}

.users-email {
    color: var(--highlight);
    text-decoration: none;
    font-size: 16px;
}

.contacts-underline {
    height: 2px;
    width: 100%;
    background-color: var(--dimmed);
    margin: 14px 0 14px 0;
}

.alphabet-letter {
    padding: 10px;
    margin-left: 20px;
}

.contact-div-big {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 9px;
    gap: 30px;
}

.contact-div-big img {
    cursor: pointer;
}

.username-big {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 15px;
}

.username-initials-big {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    font-size: 45px;
    margin-right: 10px;
    background-color: aqua;
    color: white;
    flex-shrink: 0;
}

.contact-and-edit {
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 392px;
}

.contact-information {
    font-size: 20px;
}

.edit-contact {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2A3647;
    cursor: pointer;
}

.edit-contact-text {
    margin-top: 10px;
}

.email-margins {
    margin-bottom: 15px;
}

.phone-margins {
    margin-top: 20px;
    margin-bottom: 15px;
}

.users-email-big {
    color: var(--highlight);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width:1200px) {
    #contacts-menu-scrollable {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:1100px) {
    #contacts-menu-scrollable {
        margin-left: 15px;
        margin-right: 15px;
    }

    h1 {
        font-size: 45px;
    }

    .contacts-subheadline {
        font-size: 20px;
    }

    .username-big {
        font-size: 35px;
    }

    .username-initials-big {
        height: 80px;
        width: 80px;
        font-size: 35px;
    }

    .contact-div-big {
        padding: 0;
    }

    .contact-information {
        font-size: 18px;
    }


}

@media(max-width: 940px) {}