#modal-contact-content {
    position: relative;
    display: flex;
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

#modal-contact--title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 66px 46px;
    background-color: var(--bg-color-main);
    color: white;
}

#modal-contact--logo {
    width: 55px;
}

#modal-contact--title {
    font-size: 61px;
    font-weight: 700;
}

#modal-contact--subtitle {
    font-size: 27px;
    font-weight: 400;
}

#modal-contact--form {
    position: relative;
    display: flex;
    padding: 120px 50px 120px 70px;
    background-color: white;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.contact-form input {
    width: 422px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 21px;
    padding-right: 55px;
    background-position: calc(100% - 18px);
}

.contact-form input::placeholder {
    font-size: 21px;
}

.input-email {
    background-image: url("../assets/img/mail-icon.png");
    background-repeat: no-repeat;
}

.input-profile {
    background-image: url("../assets/img/profile-icon.png");
    background-repeat: no-repeat;
}

.input-phone {
    background-image: url('../assets/img/phone-icon.png');
    background-repeat: no-repeat;
}

.input-validation {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    padding-left: 15px;
}

#contact-submit-btns {
    display: flex;
    gap: 25px;
    margin-top: 35px;
}

#contact-save-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#contact-save-btn button {
    height: unset;
    padding: 12px 60px;
}

#user-badge {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: var(--shadow-badge);
    overflow: hidden;
    margin-right: 80px;
}

#user-badge span {
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

#user-badge img {
    width: 100%;
}