* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#board {
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 120%;
}

.d-none {
    display: none;
}

:root {
    /* Background colors */
    --bg-color-main: #2A3647;
    --bg-menu-item-highlight: #091931;


    /* Element colors */
    --highlight: #29ABE2;
    --dimmed: #D1D1D1;
}