@media screen and (max-width: 940px) {
    header {
        left: 0;
        padding: 0 36px;
        height: var(--header-hight-mobile);
    }
    
    nav {
        top: unset;
        width: unset;
        right: 0;
        height: var(--nav-hight-mobile);
        padding: 0;
        z-index: 1;
    }

    #logo-nav, #menu-legal, #menu-help {
        display: none;
    }

    #sub-nav--help, #sub-nav--legal {
        display: block;
    }

    #menu {
        flex-direction: row;
        justify-content: space-between;
        /* font-size: 13px; */
        /* align-items: baseline; */
        height: 100%;
    }

    .nav-item {
        flex-direction: column;
        justify-content: flex-end;
        width: 22%;
        height: 100%;
        gap: 8px;
        padding: 0 0 13px;
    }

    .content-container {
        /* top: var(--header-hight-mobile);
        bottom: var(--nav-hight-mobile);
        left: 0; */
        margin-left: 0;
        margin-top: var(--header-hight-mobile);
        height: calc(100vh - var(--header-hight-mobile) - var(--nav-hight-mobile));
        width: 100%;
    }

    #sub-nav--help, #sub-nav--legal {
        display: unset;
    }
}

@media screen and (max-width: 780px) {
    #header-tooltype {
        display: none;
    }

    .headline-tooltype {
        display: block;
        margin-bottom: 20px;
    }
    
    #logo-header-mobile {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .nav-item {
        font-size: 13px;
    }

    #welcome-text-mobile {
        font-size: 32px;
    }

    #welcome-name-mobile {
        font-size: 42px;
    }
}