@media(max-width: 1150px){
    .add-task-content{
      width: 480px;
    }

    .headline {
        margin-bottom: 10px !important;
    }

    .content-containers{
        flex-direction: column;
        align-items: center;
    }

    .middle-container {
        display: none;
    }
}