@media screen and (max-width: 940px) {
    header {
        left: 0;
        padding: 0 36px;
        height: var(--header-hight-mobile);
    }
    
    nav {
        top: unset;
        width: unset;
        right: 0;
        height: var(--nav-hight-mobile);
        padding: 0;
        z-index: 1;
    }

    #logo-nav, #menu-legal {
        display: none;
    }

    #menu {
        flex-direction: row;
        justify-content: space-evenly;
        /* font-size: 13px; */
        /* align-items: baseline; */
        height: 100%;
    }

    .nav-item {
        flex-direction: column;
        justify-content: flex-end;
        width: 22%;
        height: 100%;
        gap: 8px;
        padding: 0 0 13px;
    }

    .content-container {
        top: var(--header-hight-mobile);
        bottom: var(--nav-hight-mobile);
        left: 0;
    }

    #sub-nav--help, #sub-nav--legal {
        display: unset;
    }
}

@media screen and (max-width: 780px) {
    #header-tooltype {
        display: none;
    }
    
    #logo-header-mobile {
        display: block;
    }
}