@media(max-width: 1350px) {
    .middle-container {
        margin: 0 25px 0 25px;
    }

    .content-add-task {
        margin-left: 40px;
    }
}

@media(max-width: 1200px) {
    .content-add-task {
        margin: 0 0 15px 0;
        width: 100%;
    }

    .add-task-content {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .headline {
        margin-bottom: 10px !important;
    }

    .content-containers {
        flex-direction: column;
        align-items: center;
    }

    .middle-container {
        display: none;
    }

    .right-container {
        margin-top: 14px;
    }
}

@media(max-width: 780px) {
    .headline-add-task {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .headline-add-task h3 {
        display: block !important;
        margin-top: 35px;
    }

    .headline-add-task h1 {
        font-size: 47px;
    }

    .input-field {
        height: 39px;
    }

    textarea {
        min-height: 93px !important;
        height: 93px !important;
    }

    .due-date input {
        height: 41px;
    }

    .title-field {
        height: 41px;
    }

    li {
        height: 41px;
    }

    .height49 {
        height: 39px;
    }

    .checkbox {
        height: 18px;
        width: 18px;
    }

    .clear-btn {
        display: none;
    }

    .create-btn {
        display: none;
    }

    .mobile-btn {
        display: flex !important;
        position: absolute;
        top: -20px;
        width: 124px;
        height: 51px;
    }

    .prio-btn {
        height: 41px;
    }

    .subtasks-input {
        height: 41px;
    }
}

@media(max-width: 380px) {
    .prio-btns-container {
        flex-direction: column;
    }

    .prio-btn {
        width: 100%;
    }

    .subtask-container {
        margin-top: 0;
    }
}