@media screen and (max-width: 1000px) {
    #btn-add-task {
    width: 51px;
    justify-content: center;
    }

    #btn-add-task span {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #headline-board {
        flex-wrap: wrap;
    }

    #find-task-container {
        order: 1;
        margin-left: unset;
        max-height: 40px;
        margin-top: 30px;
    }

    #btn-add-task {
        margin-left: auto;
        width: 40px;
        max-height: 40px;
    }

    #break {
        display: block;
    }

    #tasks-overview {
        flex-direction: column;
        margin-top: 30px;
    }

    .task-card {
        width: auto;
    }

    .no-task {
        width: auto;
    }

    #content-board {
        padding: 30px 65px 0 70px;
    }

    .progress-bar-bg {
        width: 100%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 455px) {
    #content-board {
        padding: 30px 30px 0 30px;
    }

    h1 {
        font-size: 47px;
    }

    .headline-tooltype {
        font-size: 16px;
    }
}