@media screen and (max-width: 940px) {
    header {
        left: 0;
        padding: 0 36px;
        height: var(--header-height-mobile);
    }

    nav {
        top: unset;
        width: unset;
        right: 0;
        height: var(--nav-height-mobile);
        padding: 0;
        z-index: 1;
    }

    #logo-nav,
    #menu-legal,
    #menu-help {
        display: none;
    }

    .context-header--item {
        display: block;
    }

    #menu {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .nav-item {
        flex-direction: column;
        justify-content: flex-end;
        width: 22%;
        height: 100%;
        gap: 8px;
        padding: 0 0 13px;
    }

    .content-container {
        margin-left: 0;
        margin-top: var(--header-height-mobile);
        height: calc(100vh - var(--header-height-mobile) - var(--nav-height-mobile));
        width: 100%;
        padding-bottom: calc(var(--nav-height-mobile) + 20px);
    }
}

@media screen and (max-width: 780px) {
    #header-tooltype {
        display: none;
    }

    .headline-tooltype {
        display: block;
        margin-bottom: 20px;
    }

    #logo-header-mobile {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .nav-item {
        font-size: 13px;
    }

    #welcome-text-mobile {
        font-size: 32px;
    }

    #welcome-name-mobile {
        font-size: 42px;
    }
}