@media(max-width: 1350px) {
    .middle-container {
        margin: 0 25px 0 25px;
    }

    .content-add-task {
        margin-left: 40px;
    }

    #modal-add-task-content .content-add-task {
        margin-right: 45px;
    }
}

@media(max-width: 1200px) {
    .content-add-task {
        margin: 0 0 15px 0;
    }

    .add-task-content {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .headline {
        margin-bottom: 10px !important;
    }

    .content-containers {
        flex-direction: column;
        align-items: center;
    }

    .middle-container {
        display: none;
    }

    .right-container {
        margin-top: 14px;
    }

    .submit-btns {
        position: relative;
        top: 0;
    }

    .transition {
        transform: translateY(-300px);
    }

    .subtask-list {
        height: unset;
    }
}

@media(max-width: 940px) {
    .mobile-btn {
        display: flex !important;
        position: fixed;
        z-index: 99;
        top: 14.5px;
        right: 25px;
    }

    .clear-btn {
        display: none;
    }

    #content-add-task .create-btn {
        display: none;
    }

    .right-container {
        margin-top: 0;
    }
}

@media(max-width: 780px) {
    .headline-add-task {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .headline-add-task h3 {
        display: block !important;
        font-weight: 400;
        font-size: 16px;
    }

    .headline-add-task h1 {
        font-size: 47px;
    }

    .input-field {
        height: 41px;
    }

    textarea {
        min-height: 93px !important;
        height: 93px !important;
        resize: none !important;
    }

    .due-date input {
        height: 41px;
    }

    .title-field {
        height: 41px;
    }

    li {
        height: 41px;
    }

    li label {
        height: 41px;
    }

    .height-input-mobile {
        height: 39px;
    }

    .prio-btn {
        height: 41px;
    }

    .subtasks-input {
        height: 41px;
    }
}

@media(max-width: 420px) {

    .mobile-btn {
        height: 43px;
        width: 105px;
        font-size: 16px;
        top: 18.5px;
    }

    .mobile-btn img {
        height: 15px;
        width: 15px;
    }

    .headline-add-task {
        margin: 5px 0 5px 0;
    }

    .headline-add-task h3 {
        margin: 5px;
    }

    .headline-add-task h1 {
        font-size: 38px;
    }

    p {
        font-size: 15px;
        padding: 0;
    }

    input[type="text"] {
        font-size: 15px;
    }

    ::placeholder {
        font-size: 15px;
    }

    .select-container {
        font-size: 15px;
    }

    .input-field {
        height: 34px;
    }

    .input-btns img {
        width: 13px;
    }

    .input-btns img:last-child {
        width: 17px;
    }

    textarea {
        min-height: 60px !important;
        height: 80px !important;
        font-size: 15px;
    }

    .description-area {
        padding: 10px 10px;
    }

    .due-date input {
        height: 32px;
    }

    .title-field {
        height: 32px;
        padding-left: 10px;
    }

    #category-dropdown ul li {
        padding: 0 10px;
    }

    li {
        height: 32px;
    }

    li label {
        padding: 0 10px;
        height: 32px;
    }

    .height-input-mobile {
        height: 32px;
    }

    .due-date-input {
        font-size: 15px;
        padding: 0 10px;
    }

    .prio-btn {
        height: 32px;
        width: 100%;
        font-size: 18px;
    }

    .subtasks-input {
        height: 32px;
    }

    .subtask-container {
        margin-top: 0;
    }

    .subtask-btn {
        height: 18px;
        width: 18px;
    }

    .prio-btns-container {
        flex-direction: column;
    }

    .padding-input {
        padding: 0 10px;
    }

    .popup-btn {
        width: 260.8px;
        height: 43px;
        gap: 14px;
        font-size: 18px;
        border-radius: 10px;
    }

    .popup-btn img {
        height: 24px;
        width: 20px;
    }
}