.start_background {
    background-color: var(--bg-body);
    z-index: 3;
    animation: fadeBackground 1s ease-in-out;
    animation-direction: normal;
}

@keyframes fadeBackground {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.name_validation {
    font-size: 12px;
    color: red;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup {
    position: absolute;
    top: 67px;
    right: 114px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
}

.signup_mobile {
    display: none;
}

.signup p {
    font-size: 25px;
}

.signup a {
    text-decoration: none;
    color: #fff;
    background-color: var(--bg-color-main);
    padding: 10px 20px;
    border-radius: 5px;
}

.signup_button {
    background-color: var(--bg-color-main);
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.signup_button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login_bottom_margin {
    padding-bottom: 30px;
}

.logo_animation {
    animation: slideLogo 1s ease-in-out;
    animation-direction: normal;
    z-index: 5;
}

.login_logo {
    position: absolute;
    top: 80px;
    left: 77px;
    width: 100px;
    height: auto;
}

@keyframes slideLogo {
    0% {
        width: 272px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    20% {
        width: 272px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        width: 100px;
        top: 80px;
        left: 77px;
        height: auto;
    }
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form input {
    width: 350px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding-left: 15px;
    font-size: 21px;
    padding-right: 55px;
}

.input_email {
    background-image: url("../assets/img/mail-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
    margin-bottom: 35px;
}

.input_password {
    background-image: url("../assets/img/password-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
    margin-bottom: 35px;
}

.input_profile {
    background-image: url("../assets/img/profile-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
}

.password_forgotten {
    color: var(--highlight);
    margin-left: 30px;
}

.login_form input::placeholder {
   color: var(--dimmed);
   font-size: 18px;
}

.login_form h2 {
    font-size: 60px;
    margin: 0;
    padding-top: 30px;
}

.margin_underline {
    margin-top: 22px;
    margin-bottom: 35px;
}

.signup_main {
    position: relative;
}

.error-style {
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 100px;
    right: 100px;
    color: red;
}

.error-login {
    margin-top: 30px;
    text-align: center;
    color: red;
}

.login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 457px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

.login_master {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login_form_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.login_button {
    background-color: var(--bg-color-main);
    border: none;
    color: #fff;
    padding: 13px 30px;
    border-radius: var(--border-radius);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.login_button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.guest_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: var(--border-radius);
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.guest_button:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.guest_button a {
    text-decoration: none;
    color: #647188;
}

.goback {
    position: absolute;
    top: 30px;
    left: 30px;
}

.goback:hover {
    cursor: pointer;
}

.SignUpBackground {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
}

.preloader {
    background: var(--bg-body) url(../assets/img/page_1.png) no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    animation: fadeOpacityOut 2s ease 0s 1 normal forwards;
}

.remember_me_forgotten {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.remember_me {
    display: flex;
    align-items: center;
}

.checkbox {
    height: 16px !important;
    width: 16px !important;
    margin-bottom: 4px !important;
    padding-top: 0 !important;
}

.forgotten_main {
    width: 800px !important;
}

.forgotten_form span {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.forgotten_form h2 {
    margin: 15px;
    font-size: 50px !important;
}

.login_animation {
    animation: transition 3s;
}

@keyframes transition {
    0% {
        bottom: 10%;
        opacity: 0;
    }

    30% {
        bottom: 35%;
        opacity: 1;
    }

    100% {
        bottom: 35%;
        opacity: 1;
    }
}

.flex_center {
    display: flex;
    justify-content: center;
}

.added_popup_window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    font-size: 21px;
    line-height: 120%;
    gap: 30px;
    overflow: hidden;
    opacity: 0;
}

.added_popup_window img {
    height: 26px;
    width: 22px;
    object-fit: contain;
}

@media (max-width:850px) {
    .forgotten_main {
        width: auto !important;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .forgotten_form span {
        font-size: 20px;
    }
    
    .forgotten_form h2 {
        font-size: 40px !important;
        text-align: center;
        margin-top: 30px;
    } 
}

@media (max-width:650px) {
    .forgotten_form span {
        margin-bottom: 20px;
    }

    .name_validation {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .input_email, .input_password {
        margin-bottom: 25px;
    }

    .margin_underline {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .goback {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .goback_img {
        width: 16px;
        height: auto;
    }
   
    .login_logo {
        position: absolute;
        top: 15px;
        left: 38px;
        width: 40px;
        height: auto;
    }
    
    @keyframes slideLogo {
        0% {
            width: 180px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        20% {
            width: 180px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        100% {
            width: 40px;
            top: 15px;
            left: 38px;
            height: auto;
        }
    }

    .login_main {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        height: fit-content;
    }

    .remember_me_forgotten {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 25px;
        width: 300px;
    }  

    .password_forgotten {
        margin-left: 0px;
        margin-bottom: 16px;
    }

    .login_form input {
        width: 300px;
    }

    .login_form_buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        gap: 20px;
    }

    .guest_button, .login_button {
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 13px;
        width: 150px;
    }

    .login_form h2 {
        font-size: 35px;
        padding-top: 20px;
    }

    .signup {
        display: none;
    }

    .signup_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .signup_mobile p {
        font-size: 21px;
    }
    
    .signup_mobile a {
        text-decoration: none;
        color: #fff;
        background-color: var(--bg-color-main);
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .signup_mobile button {
        background-color: var(--bg-color-main);
        border: none;
        color: #fff;
        padding: 13px 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .login_master {
        height: auto;
        margin-top: 90px;
    }
}

@media (max-width:350px) {
    .remember_me_forgotten {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
    }  

    .login_form input {
        width: 100%;
    }

    .login_form_buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
