.header-position {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    height: 182px;
}

.d-none {
    display: none;
}

.signup-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    animation: slideup 1s ease-in;
}

@keyframes slideup {
    0% {height: 0;}
    100% {height: 80px;}
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup p {
    margin-right: 20px;
}

.signup a {
    text-decoration: none;
    color: #fff;
    background-color: var(--bg-color-main);
    padding: 10px 20px;
    border-radius: 5px;
}

.signup button {
    background-color: var(--bg-color-main);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.login_logo {
    margin-bottom: 20px;
}

.join-logo {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 100px;
    height: auto;
    border-style: solid;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    animation: slideLogo 1s ease-in-out;
    animation-direction: normal;
}

@keyframes slideLogo {
    0% {
        width: 700px;
        left: 32%;
        top: 20vh;
        border-width: 250px;
    }

    50% {
        width: 700px;
        left: 32%;
        top: 20vh;
        border-width: 250px;
    }

    100% {
        left: 60px;
        top: 20px;
        border-width: 0;
    }
}


.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 652px;
    height: 457px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

.login_master {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login_form_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.login_button {
    background-color: var(--bg-color-main);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.guest_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;

    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.guest_button a {
    text-decoration: none;
    color: #647188;
}

.goback {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}

.SignUpBackground {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
}

.preloader {
    background: var(--bg-body) url(../assets/img/Logo_Start.png) no-repeat center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    animation: fadeOpacityOut 2s ease 0s 1 normal forwards;
}