.content-container {
    display: flex;
}

#content-summary {
    margin-top: 8.5vh;
    margin-left: 120px;
}

.headline-summary {
    display: flex;
    align-items: center;
}

#headline-sub {
    font-size: 27px;
}

#headline-separator {
    width: 0;
    height: 59px;
    border-left: solid 3px var(--highlight);
    border-radius: 3px;
    margin-left: 60px;
    margin-right: 30px;
}

#ui {
    display: flex;
    align-items: center;
}

#data {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 8.5vh;
    margin-right: 65px;
}

#sum-in-progress {
    display: flex;
    justify-content: space-between;
}

.badge-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge-in-progress {
    width: 170px;
    height: 170px;
}

.badge-count {
    font-size: 64px;
    font-weight: 600;
}

.badge-count-small {
    font-size: 47px;
    font-weight: 600;
}

#sum-urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
    gap: 18px;
    width: 580px;
    height: 150px;
}

#urgent-separator {
    width: 0;
    height: 102px;
    border-left: solid 2px var(--dimmed);
    border-radius: 2px;
    margin: 0 61px;
}

#urgent-date-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#urgent-date {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 13px;
}

#sum-todo-done {
    display: flex;
    justify-content: space-between;
}

.sum-badge {
    display: flex;
    border-radius: var(--border-radius-main);
    background-color: white;
    box-shadow: var(--shadow-badge);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.badge-todo {
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 272.5px;
    height: 150px;
    padding: 38px 19px 38px 19px;
}

.badge-todo--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    background-color: var(--bg-color-main);
    border-radius: 50%;
}

.label {
    font-weight: 400;
    text-align: center;
}

.label-big {
    font-size: 21px;
}

.label-small {
    font-size: 16px;
}

.sum-badge:hover {
    background-color: var(--bg-color-main);
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.035);
}
.sum-badge:hover > .badge-todo--icon {
    background-color: white;
}
.sum-badge:hover > .badge-todo--icon > img {
    filter: invert(100%);
}

.welcome-desk {
    display: flex;
    flex-direction: column;
}

#welcome-text-desk {
    font-size: var(--welcome-text-size);
    font-weight: 500;
}

#welcome-name-desk {
    font-size: var(--welcome-name-size);
    font-weight: 700;
    color: var(--highlight);
}